$black: #07070a;
$dark: #24272b;
$light: #4a525a;
$accent: #004ba8;
$white: #dddddd;
$roboto: 'Roboto', sans-serif;

html {
  scroll-behavior: smooth;
}

body {
  color: $white;
  background: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: $roboto;
  margin: 0;
  line-height: 2rem;
}

nav {
  position: fixed;
  width: 100%;
  height: 70px;
  background: $dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  header {
    display: flex;
    margin-left: 1rem;
    justify-self: left;
    h1 {
      text-align: left;
      align-self: center;
      color: $white;
    }
  }
  .navbar {
    display: flex;
    justify-self: right;
    padding: 3rem;
  }
}

.links {
  list-style-type: none;
  display: flex;
  
  .link {
    display: inline-block;
    margin: 5px;
    div {
      display: flex;
      align-items: center;
      height: 100%;
      a {
        text-decoration: none;
        border: 1px solid transparent;
        border-radius: 5px;
        color: $white;
        padding: .5rem;
        transition: border .3s;
        display: flex;
        align-self: center;
        i {
          font-size: 1.6rem;
        }
      }
    }
  }
  .link:hover {
    a {
      border: 1px solid $white;
    }
  }
}

main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }
}

#court {
  margin-top: 40vh;
}

#role {
  margin-bottom: 20vh;
}

.line {
  background: $accent;
  width: 20rem;
  height: 0;
  border: 2px solid $accent;
}

#about-target {
  margin-bottom: 20vh;

}

#about {
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 36vh;
  gap: 20rem;
  img {
    width: 300px;
    height: auto;
    border: 2px solid $accent;
    border-radius: 5px;
  }
  #bio {
    min-width: 400px;
    h2 {
      font-size: 2rem;
      text-align: left;
      span {
        color: $accent;
      }
    }
    p {
      width: 100%;
      font-size: 1.5rem;
      text-align: left;
    }
  }
}

#projects-target {
  margin-bottom: 4vh;
}

#projects-container {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: 1fr;
  gap: 3rem 4rem;
  justify-items: center;
}

.project {
  width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-items: center;
  margin-bottom: 20vh;
  box-shadow: 0 0 5px 5px $accent;
  .line {
    width: 6rem;
  }
}

.project-info {
  background:rgba(0, 0, 0, 0.2);
  height: 100%;
  max-height: 47rem;
  display: grid;
  grid-template-rows: minmax(100px, .66fr) 4px minmax(300px, 3fr) 4px minmax(150px, 1fr) minmax(150px, .5fr);
  border-top: 2px solid $accent;
  border-radius: 0 0 5px 5px;
  justify-items: center;
  h3 {
    text-align: center;
    font-size: 2rem;
    grid-row: 1 / 2;
  }
  .first {
    grid-row: 2 / 3;
  }
  .description {
    grid-row: 3 / 4;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    div {
      display: flex;
      align-items: center;
      height: 100%;
      p {
        color: $white;
        font-size: 1.5rem;
        text-align: left;
      }
    }
  }
  a {
    text-decoration: none;
    color: $white;
  }
  .second {
    grid-row: 4 / 5;
  }
  .tools {
    grid-row: 5 / 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    h4 {
      font-size: 1.75rem;
    }
    ul {
      margin-top: -1rem;
      width: 100%;
      display: flex;
      list-style-type: none;
      li {
        margin: 0 .75rem;
        text-align: center;
        font-size: 1rem;
      }
    }
  }
  .project-links {
    width: 100%;
    align-self: center;
    grid-row: 6 / 7;
    i {
      color: $white;
      font-size: 3rem;
      margin: 2rem;
      transition: transform 0.3s, color 0.3s;
    }
    i:hover {
      transform: scale(1.1);
      color: $accent;
    }
  }
}

.project-image {
  display: flex;
  img {
    align-self: top;
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
  }
}

#skills-target {
  margin-bottom: 20vh;
}

#skills {
  width: 100vw;
  margin-bottom: 20vh;
  background: linear-gradient($dark, $accent);
  div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}

#contact-target {
  margin-bottom: 20vh;
}

#contact {
  margin-bottom: 20vh;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  form {
    width: auto;
    height: 15rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding: 2rem;
    border: 2px solid $white;
    border-radius: 5px;
    input {
      background: $light;
      color: $white;
    }
    textarea {
      background: $light;
      color: $white;
    }
    div {
      width: 100%;
    }
    #name-email {
      display: flex;
      flex-direction: row;
      #name-container {
        display: flex;
        flex-direction: column;
        input {
          padding: 10px;
          width: 14rem;
          outline: 2px solid $white;
          border: none;
        }
        input:focus {
          outline: 2px solid $accent;
          label {
            color: $accent;
          }
        }
      }
      #email-container {
        display: flex;
        justify-content: right;
        div {
          width: auto;
          display: flex;
          flex-direction: column;
          input {
            padding: 10px;
            width: 14rem;
            outline: 2px solid $white;
            border: none;
          }
          input:focus {
            outline: 2px solid $accent;
          }
        }
      }
    }
    #contact-message {
      display: flex;
      flex-direction: column;
      textarea {
        width: 35rem;
        height: 4rem;
        resize: none;
        outline: 2px solid $white;
        border: none;
      }
      textarea:focus {
        outline: 2px solid $accent;
      }
    }
    button {
      margin-top: 1rem;
      justify-self: left;
      width: 100px;
      border-radius: 5px;
      background: $black;
      color: $white;
      border-color: $white;
      transition: background 0.3s;
      padding: .5rem;
    }
    button:hover {
      background: $light;
      // transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 720px) {
  nav {
    
  }

  .project {
    flex-direction: column;
  }
}